<div class="row">
<div class="col-xs-12 col-sm-4">
<div class="center_width_90 easycontent_s13">
<div class="easy_icon_wrap mar_b1 clearfix"><em class="icon-gift-1 icon-0x easy_icon"><span class="unvisible"> </span></em>
<div>SECONDARY TITLE</div>
<div class="fs_lg color_444">VERTICAL MENU</div>
</div>
<p>Panda theme is a modern, professional and clean Prestashop theme, it comes with a lot of useful features.</p>
<a href="#" title="Read more" rel="nofollow">Read more &gt;</a></div>
</div>
<div class="col-xs-12 col-sm-4">
<div class="center_width_90 easycontent_s13">
<div class="easy_icon_wrap mar_b1 clearfix"><em class="icon-leaf icon-0x easy_icon"><span class="unvisible"> </span></em>
<div>SECONDARY TITLE</div>
<div class="fs_lg color_444">MOBILE FRIENDLY</div>
</div>
<p>Panda theme is a modern, professional and clean Prestashop theme, it comes with a lot of useful features.</p>
<a href="#" title="Read more" rel="nofollow">Read more &gt;</a></div>
</div>
<div class="col-xs-12 col-sm-4">
<div class="center_width_90 easycontent_s13">
<div class="easy_icon_wrap mar_b1 clearfix"><em class="icon-magic icon-0x easy_icon"><span class="unvisible"> </span></em>
<div>SECONDARY TITLE</div>
<div class="fs_lg color_444">RETINA READY</div>
</div>
<p>Panda theme is a modern, professional and clean Prestashop theme, it comes with a lot of useful features.</p>
<a href="#" title="Read more" rel="nofollow">Read more &gt;</a></div>
</div>
</div>