<div class="row">
<div class="col-xs-12 col-sm-6">
<p>Panda theme is a modern, clean and professional Prestashop theme, it comes with a lot of useful features. Panda theme is fully responsive, it looks stunning on all types of screens and devices.</p>
<div class="clearfix mar_b6 easycontent_s3"><em class="easy_icon icon-at icon-large"><span class="unvisible">&nbsp;</span></em> support@support.com</div>
<div class="clearfix mar_b6 easycontent_s3"><em class="easy_icon icon-phone icon-large"><span class="unvisible">&nbsp;</span></em> +61 3 1234 4567</div>
<div class="clearfix mar_b6 easycontent_s3"><em class="easy_icon icon-clock icon-large"><span class="unvisible">&nbsp;</span></em> 09:00 - 16:00</div>
<div class="clearfix mar_b6 easycontent_s3"><em class="easy_icon icon-skype icon-large"><span class="unvisible">&nbsp;</span></em>Skype001</div>
<div class="clearfix mar_b6 easycontent_s3"><em class="easy_icon icon-mobile icon-large"><span class="unvisible">&nbsp;</span></em>1256698855</div>
<div class="clearfix mar_b6 easycontent_s3"><em class="easy_icon icon-print icon-large"><span class="unvisible">&nbsp;</span></em>+222 568954</div>
<div class="clearfix mar_b6 easycontent_s3"><em class="easy_icon icon-location-2 icon-large"><span class="unvisible">&nbsp;</span></em>Collins Street West Victoria 8007</div>
</div>
<div class="col-xs-12 col-sm-6">
<div class="media"><iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3151.8358376525007!2d144.955431!3d-37.817313999999996!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6ad65d4e793770d3%3A0x9e44d6ad0d76ba7c!2s121+King+St%2C+Melbourne+VIC+3000%2C+Australia!5e0!3m2!1sen!2sus!4v1423907561814" width="570" height="220" frameborder="0" style="border:0"></iframe></div>
</div>
</div>