<h5 class="color_444">WELCOME TO PANDA THEME</h5>
<p>Panda theme is a modern, clean and professional Prestashop theme, it comes with a lot of useful features. Panda theme is fully responsive, it looks stunning on all types of screens and devices.</p>