body{font-family:"Raleway", Tahoma, sans-serif, Arial;font-weight:400;}.fancybox-error{font-family:"Raleway", Tahoma, sans-serif, Arial;}.price,#our_price_display,.old_price,.sale_percentage{font-family:"Montserrat", Tahoma, sans-serif, Arial;font-weight:400;}.product_list.list .ajax_add_to_cart_button, .product_list.list .view_button,#buy_block #add_to_cart .btn_primary,#create-account_form .submit .btn_primary, #login_form .submit .btn_primary, .camera_caption_box .btn_primary, .iosSlider_text .btn_primary{font-family:"Raleway", Tahoma, sans-serif, Arial;font-weight:500;}.style_wide .ma_level_1{font-weight:400;}#st_mega_menu_wrap .ma_level_0{height: 50px;padding-top: 7px;padding-bottom: 7px;}#main_menu_widgets{padding-top:8px;padding-bottom:8px;}#st_mega_menu_wrap .ma_level_0 .cate_label{top: 1px;}.title_block, .idTabs a,.product_accordion_title,.heading,.page-heading,.page-subheading,.pc_slider_tabs a, #home-page-tabs li a, #home-page-tabs li span, .parallax_heading,#product_name_wrap .product_name{font-weight:400;text-transform: uppercase;}.st-menu-title{font-weight:400;text-transform: uppercase;}.st_mega_menu .ma_level_0, .mobile_bar_tri_text, #st_mega_menu_column_mobile .mo_advanced_ma_level_0{text-transform: none;font-weight:400;font-size: 20px;}#st_mobile_menu .mo_ma_level_0{text-transform: none;}.style_wide .ma_level_1{text-transform: none;}.style_wide .ma_level_1{font-weight:400;}.style_wide .mu_level_2 a.ma_item, .stmenu_multi_level a.ma_item,.mo_sub_a{font-weight:400;}.mv_item{}.cate_label{font-weight:400;}#product_name_wrap .product_name{}#product_name_wrap .product_name{text-transform: none;}.title_block,.title_block a, .title_block span{border-bottom-width:0px;}.title_block a, .title_block span{margin-bottom:-8px;}.owl-theme.owl-navigation-tr .owl-controls .owl-buttons{top:-54px;}#left_column .owl-theme.owl-navigation-tr .owl-controls .owl-buttons, #right_column .owl-theme.owl-navigation-tr .owl-controls .owl-buttons{top:-54px;}#left_column .title_block,#left_column .title_block a, #left_column .title_block span, #right_column .title_block,#right_column .title_block a, #right_column .title_block span{border-bottom-width:2px;}#left_column .title_block a, #left_column .title_block span, #right_column .title_block a, #right_column .title_block span{margin-bottom:-10px;}a:active,a:hover,
            #layered_block_left ul li a:hover,
            #product_comments_block_extra a:hover,
            .breadcrumb a:hover,
            a.color_666:hover,
            .pc_slider_tabs a.selected,
            #footer-bottom a:hover,
            .blog_info a:hover,
            a.title_block:hover,
            .title_block a:hover,
            .title_block a.selected,
            div.pagination .showall .show_all_products:hover,
            .content_sortPagiBar .display li.selected a, .content_sortPagiBar .display_m li.selected a,
            .content_sortPagiBar .display li a:hover, .content_sortPagiBar .display_m li a:hover,
            #home-page-tabs > li.active a, #home-page-tabs li a:hover,
            .fancybox-skin .fancybox-close:hover,
            .dropdown_wrap.open .dropdown_tri,.dropdown_wrap.open .dropdown_tri a,.dropdown_wrap.open .header_item a,
            #st_mega_menu_wrap .ml_level_0.current .ma_level_0, #st_mega_menu_wrap .ma_level_0:hover,
            #st_mega_menu_column_block .ml_level_0.current .ma_level_0, #st_mega_menu_column_block .ma_level_0:hover,
            .mobile_bar_tri:hover,
            #header_primary .top_bar_item:hover .header_item, 
            #header_primary .top_bar_item:hover a.header_item,
            .shopping_cart_style_2:hover a.header_item, .shopping_cart_style_3:hover a.header_item,
            #header_primary .dropdown_wrap.open .dropdown_tri,#header_primary .dropdown_wrap.open .dropdown_tri a,#header_primary .dropdown_wrap.open .header_item a,
            #top_bar .top_bar_item:hover .header_item,#top_bar .top_bar_item:hover a.header_item,
            #top_bar .dropdown_wrap.open .dropdown_tri,#top_bar .dropdown_wrap.open .dropdown_tri a,#top_bar .dropdown_wrap.open .header_item a,
            a.s_title_block:hover, .s_title_block  a:hover,
            #footer-primary a:hover,#footer-secondary a:hover,#footer-tertiay a:hover,
            .product_meta a:hover{color: #C57959;}#st_mega_menu_wrap .ml_level_0.current .ma_level_0,#st_mega_menu_wrap .ma_level_0:hover{border-bottom-color:#C57959;}#breadcrumb_wrapper{padding: 1em 0; background: #FFFFFF;}.header_item .ajax_cart_bag, .header_item .ajax_cart_bag .ajax_cart_bg_handle{border-color: #ffffff;}.shopping_cart_style_2 .header_item, .shopping_cart_style_3 .header_item{color: #ffffff;}.header_item .ajax_cart_bag .amount_circle{color: #ffffff;}.header_item .ajax_cart_bag .amount_circle{background-color: #2d2b39;}.header_item .ajax_cart_bag .amount_circle{border-color: #ffffff;}#rightbar{top:auto; bottom:0%;}.btn-default,.btn-small, .btn-medium, .btn-large,
                a.btn-default,a.btn-small, a.btn-medium, a.btn-large,
                input.button_mini,
                input.button_small,
                input.button,
                input.button_large,
                input.button_mini_disabled,
                input.button_small_disabled,
                input.button_disabled,
                input.button_large_disabled,
                input.exclusive_mini,
                input.exclusive_small,
                input.exclusive,
                input.exclusive_large,
                input.exclusive_mini_disabled,
                input.exclusive_small_disabled,
                input.exclusive_disabled,
                input.exclusive_large_disabled,
                a.button_mini,
                a.button_small,
                a.button,
                a.button_large,
                a.exclusive_mini,
                a.exclusive_small,
                a.exclusive,
                a.exclusive_large,
                span.button_mini,
                span.button_small,
                span.button,
                span.button_large,
                span.exclusive_mini,
                span.exclusive_small,
                span.exclusive,
                span.exclusive_large,
                span.exclusive_large_disabled,
                .itemlist_action .ajax_add_to_cart_button, 
                .itemlist_action .view_button{color: #ffffff;background-color: #b98759;border-color:#b98759;}.btn-default:hover, .btn-default.active, 
                .btn-small:hover, .btn-small.active, 
                .btn-medium:hover, .btn-medium.active, 
                .btn-large:hover, .btn-large.active,
                a.btn-default:hover, a.btn-default.active, 
                a.btn-small:hover, a.btn-small.active, 
                a.btn-medium:hover, a.btn-medium.active, 
                a.btn-large:hover, a.btn-large.active,
                input.button_mini:hover,
                input.button_small:hover,
                input.button:hover,
                input.button_large:hover,
                input.exclusive_mini:hover,
                input.exclusive_small:hover,
                input.exclusive:hover,
                input.exclusive_large:hover,
                a.button_mini:hover,
                a.button_small:hover,
                a.button:hover,
                a.button_large:hover,
                a.exclusive_mini:hover,
                a.exclusive_small:hover,
                a.exclusive:hover,
                a.exclusive_large:hover,
                input.button_mini:active,
                input.button_small:active,
                input.button:active,
                input.button_large:active,
                input.exclusive_mini:active,
                input.exclusive_small:active,
                input.exclusive:active,
                input.exclusive_large:active,
                a.button_mini:active,
                a.button_small:active,
                a.button:active,
                a.button_large:active,
                a.exclusive_mini:active,
                a.exclusive_small:active,
                a.exclusive:active,
                a.exclusive_large:active,
                .itemlist_action .ajax_add_to_cart_button:hover, 
                .itemlist_action .ajax_add_to_cart_button.active, 
                .itemlist_action .view_button:hover,
                .itemlist_action .view_button.active{color: #ffffff;border-color:#444444;-webkit-box-shadow: none; box-shadow: none;background-color: #444444;}.btn-default.btn-white:hover, .btn-small.btn-white:hover, .btn-medium.btn-white:hover, .btn-large.btn-white:hover,
        a.btn-default.btn-white:hover, a.btn-small.btn-white:hover, a.btn-medium.btn-white:hover, a.btn-large.btn-white:hover,
        .easy_content a.btn-default.btn-white:hover, .easy_content a.btn-small.btn-white:hover, .easy_content a.btn-medium.btn-white:hover, .easy_content a.btn-large.btn-white:hover
        {border-color:#ffffff;-webkit-box-shadow: none; box-shadow: none;background-color: #ffffff;color:#444444;}#header_primary .header_item, #header_primary a.header_item, #header_primary .header_item a, #header_primary #search_block_top.quick_search_simple .button-search, a.mobile_bar_tri, .shopping_cart_style_2 .header_item, .shopping_cart_style_3 .header_item{color:#ffffff;}#top_bar .header_item, #top_bar a.header_item, #top_bar .header_item a{color:#ffffff;}#header .header_item{text-transform: uppercase;}#header_primary, #header_primary .wide_container{border-bottom-color:#666666;}#st_mega_menu_wrap .ma_level_0{color:#ffffff;}#main_menu_widgets #search_block_top.quick_search_simple .button-search,#main_menu_widgets .header_item, #main_menu_widgets a.header_item, #main_menu_widgets .header_item a{color:#ffffff;}#st_mega_menu_wrap .stmenu_sub{border-top-width:0px;}#st_mega_menu_wrap .ma_level_0{margin-bottom:-0px;border-bottom-width:0px;}#st_mega_menu_container{border-bottom-width:0px;}#footer-tertiary, #footer-tertiary a, #footer-tertiary .price, #footer-tertiary .old_price{color:#ffffff;}#footer-bottom,#footer-bottom a{color:#ffffff;}#footer-primary .wide_container, #footer-primary .container{max-width: none;}.header-container #header{background-color:#000000;}#header #header_primary.sticky{background: #000000;background:rgba(0,0,0,0.45);}body#index .header-container.transparent-header #header{background:rgba(0,0,0,0);}.transparent-mobile-header #header .mobile_bar_tri,.transparent-mobile-header #mobile_bar_cart_tri .ajax_cart_bag i{ color: #ffffff;}.transparent-mobile-header #mobile_bar_cart_tri .ajax_cart_bag, .transparent-mobile-header #mobile_bar_cart_tri .ajax_cart_bag .ajax_cart_bg_handle, .transparent-mobile-header #mobile_bar_cart_tri .ajax_cart_bag .amount_circle{border-color: #ffffff;}.transparent-mobile-header #mobile_bar_cart_tri .ajax_cart_bag i{color: #ffffff;}#st_mega_menu_container.sticky, #header #header_primary.sticky{background: #000000;background:rgba(0,0,0,0.45);}#footer-primary{background-image:url(../../img/d8eeaac5befade6b85e8426664e7f9c3.png);}#footer-secondary{background-color:#000000;}#footer-tertiary{background-color:#000000;}#footer-bottom {border-top-width:1px;border-top-style: solid;}#footer-bottom, #footer-bottom .wide_container{border-top-color:#ffffff;}#footer-bottom{background-color:#000000;}span.new{border: 2px solid #444444;}span.new i{color: #444444;}span.new{line-height:16px;}span.new{background-color:#ffffff;}span.new{top:0px;}span.new{right:0px;}.is_rtl span.new{right: auto;left: 0px;}span.on_sale{border: 2px solid #C57959;}span.on_sale i{color: #C57959;}span.on_sale{line-height:16px;}span.on_sale{background-color:#ffffff;}span.on_sale{top:0px;}span.on_sale{left:0px;}.is_rtl span.on_sale{left: auto;right: 0px;}span.sale_percentage_sticker{bottom: 30px;}span.sale_percentage_sticker{left: 0px;}span.sold_out{font-family: "Raleway";}header#header #header_primary_row{height: 60px;}#header_primary_row img.logo{max-height: 60px;}header #header_primary.sticky #header_primary_row{ height: 60px;}#top_extra #st_mega_menu_wrap .st_mega_menu{text-align: center;}#top_extra #st_mega_menu_wrap .ml_level_0{float:none;display:inline-block;vertical-align:middle;}.header-container { margin-bottom: 0px; }.products_slider .ajax_block_product:hover .pro_second_box,.product_list.grid .ajax_block_product:hover .pro_second_box{ background-color: #ffffff; }.products_slider .owl-theme.owl-navigation-tr .owl-controls .owl-buttons div.disabled,.products_slider .owl-theme.owl-navigation-tr .owl-controls .owl-buttons div.disabled:hover{ background-color: transparent; }#page_wrapper{box-shadow:none;-webkit-box-shadow:none;-moz-box-shadow:none;}#top_bar .wide_container, #top_bar .container{max-width: none;}#header_primary .wide_container, #header_primary .container{max-width: none;}#header .mobile_bar_tri,#mobile_bar_cart_tri .ajax_cart_bag i, .transparent-mobile-header.has_sticky #header .mobile_bar_tri, .transparent-mobile-header.has_sticky #mobile_bar_cart_tri .ajax_cart_bag i{ color: #ffffff;}.transparent-mobile-header.has_sticky #mobile_bar_cart_tri .ajax_cart_bag, .transparent-mobile-header.has_sticky #mobile_bar_cart_tri .ajax_cart_bag .ajax_cart_bg_handle, .transparent-mobile-header.has_sticky #mobile_bar_cart_tri .ajax_cart_bag .amount_circle{border-color: #ffffff;}.transparent-mobile-header.has_sticky #mobile_bar_cart_tri .ajax_cart_bag i{color: #ffffff;}#header #mobile_bar,#header.sticky_mh #mobile_bar{ background-color: #000000;}body#index .transparent-mobile-header #header #mobile_bar{ background-color: transparent;}#header.sticky_mh #mobile_bar,body#index .transparent-mobile-header #header.sticky_mh #mobile_bar{background-color: #000000;background:rgba(0,0,0,0.45);}#mobile_bar_cart_tri .ajax_cart_bag .amount_circle{color: #ffffff;}#mobile_bar_cart_tri .ajax_cart_bag .amount_circle{background-color: #2d2b39;}#mobile_bar_cart_tri .ajax_cart_bag .amount_circle{border-color: #ffffff;}@media (min-width: 992px) {#footer-primary .row{padding-right:20px;padding-left:20px;}}@media (max-width: 991px) {.header-container { margin-bottom: 0; }}@media (min-width: 992px) {#top_bar .row{padding-right:20px;padding-left:20px;}}@media (min-width: 992px) {header#header #header_primary_row{padding-right:20px;padding-left:20px;}}/*---------  HEADER  --------- */
/* TopBar style */
     header #top_bar {border-bottom: 0px solid #dadada; background-color: rgba(0,0,0,0.3) ;}
/* Icone personalizzate */
    .icon-glyph {content: url(/img/icons/Ico-Cart.svg) !Important; height: 30px !Important; margin-top: -8px;margin-left: 0px;}
     #language_world {content: url(/img/icons/Ico-Lang.svg) !Important; height: 30px !Important; margin-top: 0px; margin-left: 0px;}
    .icon-user-1 {content: url(/img/icons/Ico-User.svg) !Important; height: 30px;}
     #languages-block-top-mod {padding-left: 0px !Important;}
/* Centramento megamenu */
     #main_menu_widgets {position: absolute; right: 30px;}

/*---------  VARIE  --------- */
/* Nasconde il carrello dalla RightBar */
     #rightbar-shopping_cart{display:none;}
/* Icone Header */
     #shopping_cart .cart_text, #shopping_cart .ajax_cart_split, #shopping_cart .ajax_cart_total {display: none;}
     .ajax_cart_bag .amount_circle {border: 1.3px solid #fff; left:20px;}
     #shopping_cart .ajax_cart_quantity.amount_circle {top: -15px;}
