.container {
  max-width: 1396px; }

#page_wrapper, .wide_container {
  max-width: 1440px; }

.col-xl-1,
.col-xl-1-2,
.col-xl-1-5,
.col-xl-2,
.col-xl-2-4,
.col-xl-3,
.col-xl-4,
.col-xl-5,
.col-xl-6,
.col-xl-7,
.col-xl-8,
.col-xl-9,
.col-xl-10,
.col-xl-11 {
  float: left; }

.col-xl-1 {
  width: 8.33333%; }

.col-xl-1-2 {
  width: 10%; }

.col-xl-1-5 {
  width: 12.5%; }

.col-xl-2 {
  width: 16.66667%; }

.col-xl-2-4 {
  width: 20%; }

.col-xl-3 {
  width: 25%; }

.col-xl-4 {
  width: 33.33333%; }

.col-xl-5 {
  width: 41.66667%; }

.col-xl-6 {
  width: 50%; }

.col-xl-7 {
  width: 58.33333%; }

.col-xl-8 {
  width: 66.66667%; }

.col-xl-9 {
  width: 75%; }

.col-xl-10 {
  width: 83.33333%; }

.col-xl-11 {
  width: 91.66667%; }

.col-xl-12 {
  width: 100%; }

.col-xl-push-0 {
  left: auto; }

.col-xl-push-1 {
  left: 8.33333%; }

.col-xl-push-2 {
  left: 16.66667%; }

.col-xl-push-3 {
  left: 25%; }

.col-xl-push-4 {
  left: 33.33333%; }

.col-xl-push-5 {
  left: 41.66667%; }

.col-xl-push-6 {
  left: 50%; }

.col-xl-push-7 {
  left: 58.33333%; }

.col-xl-push-8 {
  left: 66.66667%; }

.col-xl-push-9 {
  left: 75%; }

.col-xl-push-10 {
  left: 83.33333%; }

.col-xl-push-11 {
  left: 91.66667%; }

.col-xl-pull-0 {
  right: auto; }

.col-xl-pull-1 {
  right: 8.33333%; }

.col-xl-pull-2 {
  right: 16.66667%; }

.col-xl-pull-3 {
  right: 25%; }

.col-xl-pull-4 {
  right: 33.33333%; }

.col-xl-pull-5 {
  right: 41.66667%; }

.col-xl-pull-6 {
  right: 50%; }

.col-xl-pull-7 {
  right: 58.33333%; }

.col-xl-pull-8 {
  right: 66.66667%; }

.col-xl-pull-9 {
  right: 75%; }

.col-xl-pull-10 {
  right: 83.33333%; }

.col-xl-pull-11 {
  right: 91.66667%; }

.col-xl-offset-0 {
  margin-left: 0; }

.col-xl-offset-1 {
  margin-left: 8.33333%; }

.col-xl-offset-2 {
  margin-left: 16.66667%; }

.col-xl-offset-3 {
  margin-left: 25%; }

.col-xl-offset-4 {
  margin-left: 33.33333%; }

.col-xl-offset-5 {
  margin-left: 41.66667%; }

.col-xl-offset-6 {
  margin-left: 50%; }

.col-xl-offset-7 {
  margin-left: 58.33333%; }

.col-xl-offset-8 {
  margin-left: 66.66667%; }

.col-xl-offset-9 {
  margin-left: 75%; }

.col-xl-offset-10 {
  margin-left: 83.33333%; }

.col-xl-offset-11 {
  margin-left: 91.66667%; }

#st_mega_menu_column_block .stmenu_sub.col-md-1, .stmenu_vertical .stmenu_vs.col-md-1 {
  width: 89px; }

#st_mega_menu_column_block .stmenu_sub.col-md-2, .stmenu_vertical .stmenu_vs.col-md-2 {
  width: 178px; }

#st_mega_menu_column_block .stmenu_sub.col-md-3, .stmenu_vertical .stmenu_vs.col-md-3 {
  width: 267px; }

#st_mega_menu_column_block .stmenu_sub.col-md-4, .stmenu_vertical .stmenu_vs.col-md-4 {
  width: 356px; }

#st_mega_menu_column_block .stmenu_sub.col-md-5, .stmenu_vertical .stmenu_vs.col-md-5 {
  width: 445px; }

#st_mega_menu_column_block .stmenu_sub.col-md-6, .stmenu_vertical .stmenu_vs.col-md-6 {
  width: 534px; }

#st_mega_menu_column_block .stmenu_sub.col-md-7, .stmenu_vertical .stmenu_vs.col-md-7 {
  width: 623px; }

#st_mega_menu_column_block .stmenu_sub.col-md-8, .stmenu_vertical .stmenu_vs.col-md-8 {
  width: 713px; }

#st_mega_menu_column_block .stmenu_sub.col-md-9, .stmenu_vertical .stmenu_vs.col-md-9 {
  width: 802px; }

#st_mega_menu_column_block .stmenu_sub.col-md-10, .stmenu_vertical .stmenu_vs.col-md-10 {
  width: 891px; }

#st_mega_menu_column_block .stmenu_sub.col-md-11, .stmenu_vertical .stmenu_vs.col-md-11 {
  width: 980px; }

#st_mega_menu_column_block .stmenu_sub.col-md-12, .stmenu_vertical .stmenu_vs.col-md-12 {
  width: 1069px; }

body#index .menu_ver_open_xl .stmenu_vertical, body#index .sticky .menu_ver_open_xl.current .stmenu_vertical {
  display: block!important; }

body#index .sticky .menu_ver_open_xl .stmenu_vertical {
  display: none!important; }

#st_mega_menu_wrap .menu_ver_open_xl .ma_level_0 {
  z-index: 71; }
