@media (min-width: 1200px) {
  .container {
    max-width: 1170px;
    padding-left: 0;
    padding-right: 0; }

  #page_wrapper, .wide_container {
    max-width: 1200px; }

  .col-lg-1,
  .col-lg-1-2,
  .col-lg-1-5,
  .col-lg-2,
  .col-lg-2-4,
  .col-lg-3,
  .col-lg-4,
  .col-lg-5,
  .col-lg-6,
  .col-lg-7,
  .col-lg-8,
  .col-lg-9,
  .col-lg-10,
  .col-lg-11 {
    float: left; }

  .col-lg-1 {
    width: 8.33333%; }

  .col-lg-1-2 {
    width: 10%; }

  .col-lg-1-5 {
    width: 12.5%; }

  .col-lg-2 {
    width: 16.66667%; }

  .col-lg-2-4 {
    width: 20%; }

  .col-lg-3 {
    width: 25%; }

  .col-lg-4 {
    width: 33.33333%; }

  .col-lg-5 {
    width: 41.66667%; }

  .col-lg-6 {
    width: 50%; }

  .col-lg-7 {
    width: 58.33333%; }

  .col-lg-8 {
    width: 66.66667%; }

  .col-lg-9 {
    width: 75%; }

  .col-lg-10 {
    width: 83.33333%; }

  .col-lg-11 {
    width: 91.66667%; }

  .col-lg-12 {
    width: 100%; }

  .col-lg-push-0 {
    left: auto; }

  .col-lg-push-1 {
    left: 8.33333%; }

  .col-lg-push-2 {
    left: 16.66667%; }

  .col-lg-push-3 {
    left: 25%; }

  .col-lg-push-4 {
    left: 33.33333%; }

  .col-lg-push-5 {
    left: 41.66667%; }

  .col-lg-push-6 {
    left: 50%; }

  .col-lg-push-7 {
    left: 58.33333%; }

  .col-lg-push-8 {
    left: 66.66667%; }

  .col-lg-push-9 {
    left: 75%; }

  .col-lg-push-10 {
    left: 83.33333%; }

  .col-lg-push-11 {
    left: 91.66667%; }

  .col-lg-pull-0 {
    right: auto; }

  .col-lg-pull-1 {
    right: 8.33333%; }

  .col-lg-pull-2 {
    right: 16.66667%; }

  .col-lg-pull-3 {
    right: 25%; }

  .col-lg-pull-4 {
    right: 33.33333%; }

  .col-lg-pull-5 {
    right: 41.66667%; }

  .col-lg-pull-6 {
    right: 50%; }

  .col-lg-pull-7 {
    right: 58.33333%; }

  .col-lg-pull-8 {
    right: 66.66667%; }

  .col-lg-pull-9 {
    right: 75%; }

  .col-lg-pull-10 {
    right: 83.33333%; }

  .col-lg-pull-11 {
    right: 91.66667%; }

  .col-lg-offset-0 {
    margin-left: 0; }

  .col-lg-offset-1 {
    margin-left: 8.33333%; }

  .col-lg-offset-2 {
    margin-left: 16.66667%; }

  .col-lg-offset-3 {
    margin-left: 25%; }

  .col-lg-offset-4 {
    margin-left: 33.33333%; }

  .col-lg-offset-5 {
    margin-left: 41.66667%; }

  .col-lg-offset-6 {
    margin-left: 50%; }

  .col-lg-offset-7 {
    margin-left: 58.33333%; }

  .col-lg-offset-8 {
    margin-left: 66.66667%; }

  .col-lg-offset-9 {
    margin-left: 75%; }

  .col-lg-offset-10 {
    margin-left: 83.33333%; }

  .col-lg-offset-11 {
    margin-left: 91.66667%; }

  #st_mega_menu_column_block .stmenu_sub.col-md-1, .stmenu_vertical .stmenu_vs.col-md-1 {
    width: 75px; }

  #st_mega_menu_column_block .stmenu_sub.col-md-2, .stmenu_vertical .stmenu_vs.col-md-2 {
    width: 150px; }

  #st_mega_menu_column_block .stmenu_sub.col-md-3, .stmenu_vertical .stmenu_vs.col-md-3 {
    width: 225px; }

  #st_mega_menu_column_block .stmenu_sub.col-md-4, .stmenu_vertical .stmenu_vs.col-md-4 {
    width: 300px; }

  #st_mega_menu_column_block .stmenu_sub.col-md-5, .stmenu_vertical .stmenu_vs.col-md-5 {
    width: 375px; }

  #st_mega_menu_column_block .stmenu_sub.col-md-6, .stmenu_vertical .stmenu_vs.col-md-6 {
    width: 450px; }

  #st_mega_menu_column_block .stmenu_sub.col-md-7, .stmenu_vertical .stmenu_vs.col-md-7 {
    width: 525px; }

  #st_mega_menu_column_block .stmenu_sub.col-md-8, .stmenu_vertical .stmenu_vs.col-md-8 {
    width: 600px; }

  #st_mega_menu_column_block .stmenu_sub.col-md-9, .stmenu_vertical .stmenu_vs.col-md-9 {
    width: 675px; }

  #st_mega_menu_column_block .stmenu_sub.col-md-10, .stmenu_vertical .stmenu_vs.col-md-10 {
    width: 750px; }

  #st_mega_menu_column_block .stmenu_sub.col-md-11, .stmenu_vertical .stmenu_vs.col-md-11 {
    width: 825px; }

  #st_mega_menu_column_block .stmenu_sub.col-md-12, .stmenu_vertical .stmenu_vs.col-md-12 {
    width: 900px; } }
@media (min-width: 1200px) {
  .visible-xs.visible-lg {
    display: block !important; }

  tr.visible-xs.visible-lg {
    display: table-row !important; }

  th.visible-xs.visible-lg,
  td.visible-xs.visible-lg {
    display: table-cell !important; } }
@media (min-width: 1200px) {
  .visible-sm.visible-lg {
    display: block !important; }

  tr.visible-sm.visible-lg {
    display: table-row !important; }

  th.visible-sm.visible-lg,
  td.visible-sm.visible-lg {
    display: table-cell !important; } }
@media (min-width: 1200px) {
  .visible-md.visible-lg {
    display: block !important; }

  tr.visible-md.visible-lg {
    display: table-row !important; }

  th.visible-md.visible-lg,
  td.visible-md.visible-lg {
    display: table-cell !important; } }
.visible-lg {
  display: none !important; }

tr.visible-lg {
  display: none !important; }

th.visible-lg,
td.visible-lg {
  display: none !important; }

@media (min-width: 1200px) {
  .visible-lg {
    display: block !important; }

  tr.visible-lg {
    display: table-row !important; }

  th.visible-lg,
  td.visible-lg {
    display: table-cell !important; } }
@media (min-width: 1200px) {
  .hidden-xs.hidden-lg {
    display: none !important; }

  tr.hidden-xs.hidden-lg {
    display: none !important; }

  th.hidden-xs.hidden-lg,
  td.hidden-xs.hidden-lg {
    display: none !important; } }
@media (min-width: 1200px) {
  .hidden-sm.hidden-lg {
    display: none !important; }

  tr.hidden-sm.hidden-lg {
    display: none !important; }

  th.hidden-sm.hidden-lg,
  td.hidden-sm.hidden-lg {
    display: none !important; } }
@media (min-width: 1200px) {
  .hidden-md.hidden-lg {
    display: none !important; }

  tr.hidden-md.hidden-lg {
    display: none !important; }

  th.hidden-md.hidden-lg,
  td.hidden-md.hidden-lg {
    display: none !important; } }
.hidden-lg {
  display: block !important; }

tr.hidden-lg {
  display: table-row !important; }

th.hidden-lg,
td.hidden-lg {
  display: table-cell !important; }

@media (min-width: 1200px) {
  .hidden-lg {
    display: none !important; }

  tr.hidden-lg {
    display: none !important; }

  th.hidden-lg,
  td.hidden-lg {
    display: none !important; } }
@media only screen and (min-width: 1200px) {
  #stb_search_query_block {
    max-width: 160px;
    margin-right: 6px; }

  #st_mega_menu_wrap .ma_level_0 {
    padding-left: 16px;
    padding-right: 16px; }

  #header_primary_row .col-md-1 img.logo {
    max-width: 97px; }
  #header_primary_row .col-md-2 img.logo {
    max-width: 195px; }
  #header_primary_row .col-md-3 img.logo {
    max-width: 293px; }
  #header_primary_row .col-md-4 img.logo {
    max-width: 389px; }
  #header_primary_row .col-md-5 img.logo {
    max-width: 487px; }
  #header_primary_row .col-md-6 img.logo {
    max-width: 585px; }
  #header_primary_row .col-md-7 img.logo {
    max-width: 682px; }
  #header_primary_row .col-md-8 img.logo {
    max-width: 780px; }
  #header_primary_row .col-md-9 img.logo {
    max-width: 877px; }

  form#searchbox input#search_query_block {
    min-width: 220px; }

  body#index .menu_ver_open_lg .stmenu_vertical, body#index .sticky .menu_ver_open_lg.current .stmenu_vertical {
    display: block!important; }

  body#index .sticky .menu_ver_open_lg .stmenu_vertical {
    display: none!important; }

  #st_mega_menu_wrap .menu_ver_open_lg .ma_level_0 {
    z-index: 71; } }
