@media only screen and (min-width: 992px) {
  ul.product_list.grid > li.first-in-line {
    clear: both; }
  ul.product_list.grid > li.first-line {
    border-top: none; }

  .subcate_grid_view > li.first-item-of-line, .com_grid_view > li.first-item-of-line, .pro_itemlist > li.first-item-of-line, .blog_row_list > li.first-item-of-line, .blog_list_grid > li.first-item-of-line {
    clear: both; }

  .style_content h1 {
    font-size: 6em; }
  .style_content h2 {
    font-size: 4em; }
  .style_content h3 {
    font-size: 3em; }
  .style_content h4 {
    font-size: 2em; }
  .style_content h5 {
    font-size: 1.5em; }
  .style_content h6 {
    font-size: 1.333em; }

  body#index .menu_ver_open_md .stmenu_vertical, body#index .sticky .menu_ver_open_md.current .stmenu_vertical {
    display: block!important; }

  body#index .sticky .menu_ver_open_md .stmenu_vertical {
    display: none!important; }

  #st_mega_menu_wrap .menu_ver_open_md .ma_level_0 {
    z-index: 71; } }
