.container {
  max-width: 1170px; }

#page_wrapper, .wide_container {
  max-width: 1200px; }

.col-lg-1,
.col-lg-1-2,
.col-lg-1-5,
.col-lg-2,
.col-lg-2-4,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-10,
.col-lg-11 {
  float: left; }

.col-lg-1 {
  width: 8.33333%; }

.col-lg-1-2 {
  width: 10%; }

.col-lg-1-5 {
  width: 12.5%; }

.col-lg-2 {
  width: 16.66667%; }

.col-lg-2-4 {
  width: 20%; }

.col-lg-3 {
  width: 25%; }

.col-lg-4 {
  width: 33.33333%; }

.col-lg-5 {
  width: 41.66667%; }

.col-lg-6 {
  width: 50%; }

.col-lg-7 {
  width: 58.33333%; }

.col-lg-8 {
  width: 66.66667%; }

.col-lg-9 {
  width: 75%; }

.col-lg-10 {
  width: 83.33333%; }

.col-lg-11 {
  width: 91.66667%; }

.col-lg-12 {
  width: 100%; }

.col-lg-push-0 {
  left: auto; }

.col-lg-push-1 {
  left: 8.33333%; }

.col-lg-push-2 {
  left: 16.66667%; }

.col-lg-push-3 {
  left: 25%; }

.col-lg-push-4 {
  left: 33.33333%; }

.col-lg-push-5 {
  left: 41.66667%; }

.col-lg-push-6 {
  left: 50%; }

.col-lg-push-7 {
  left: 58.33333%; }

.col-lg-push-8 {
  left: 66.66667%; }

.col-lg-push-9 {
  left: 75%; }

.col-lg-push-10 {
  left: 83.33333%; }

.col-lg-push-11 {
  left: 91.66667%; }

.col-lg-pull-0 {
  right: auto; }

.col-lg-pull-1 {
  right: 8.33333%; }

.col-lg-pull-2 {
  right: 16.66667%; }

.col-lg-pull-3 {
  right: 25%; }

.col-lg-pull-4 {
  right: 33.33333%; }

.col-lg-pull-5 {
  right: 41.66667%; }

.col-lg-pull-6 {
  right: 50%; }

.col-lg-pull-7 {
  right: 58.33333%; }

.col-lg-pull-8 {
  right: 66.66667%; }

.col-lg-pull-9 {
  right: 75%; }

.col-lg-pull-10 {
  right: 83.33333%; }

.col-lg-pull-11 {
  right: 91.66667%; }

.col-lg-offset-0 {
  margin-left: 0; }

.col-lg-offset-1 {
  margin-left: 8.33333%; }

.col-lg-offset-2 {
  margin-left: 16.66667%; }

.col-lg-offset-3 {
  margin-left: 25%; }

.col-lg-offset-4 {
  margin-left: 33.33333%; }

.col-lg-offset-5 {
  margin-left: 41.66667%; }

.col-lg-offset-6 {
  margin-left: 50%; }

.col-lg-offset-7 {
  margin-left: 58.33333%; }

.col-lg-offset-8 {
  margin-left: 66.66667%; }

.col-lg-offset-9 {
  margin-left: 75%; }

.col-lg-offset-10 {
  margin-left: 83.33333%; }

.col-lg-offset-11 {
  margin-left: 91.66667%; }

#st_mega_menu_column_block .stmenu_sub.col-md-1, .stmenu_vertical .stmenu_vs.col-md-1 {
  width: 75px; }

#st_mega_menu_column_block .stmenu_sub.col-md-2, .stmenu_vertical .stmenu_vs.col-md-2 {
  width: 150px; }

#st_mega_menu_column_block .stmenu_sub.col-md-3, .stmenu_vertical .stmenu_vs.col-md-3 {
  width: 225px; }

#st_mega_menu_column_block .stmenu_sub.col-md-4, .stmenu_vertical .stmenu_vs.col-md-4 {
  width: 300px; }

#st_mega_menu_column_block .stmenu_sub.col-md-5, .stmenu_vertical .stmenu_vs.col-md-5 {
  width: 375px; }

#st_mega_menu_column_block .stmenu_sub.col-md-6, .stmenu_vertical .stmenu_vs.col-md-6 {
  width: 450px; }

#st_mega_menu_column_block .stmenu_sub.col-md-7, .stmenu_vertical .stmenu_vs.col-md-7 {
  width: 525px; }

#st_mega_menu_column_block .stmenu_sub.col-md-8, .stmenu_vertical .stmenu_vs.col-md-8 {
  width: 600px; }

#st_mega_menu_column_block .stmenu_sub.col-md-9, .stmenu_vertical .stmenu_vs.col-md-9 {
  width: 675px; }

#st_mega_menu_column_block .stmenu_sub.col-md-10, .stmenu_vertical .stmenu_vs.col-md-10 {
  width: 750px; }

#st_mega_menu_column_block .stmenu_sub.col-md-11, .stmenu_vertical .stmenu_vs.col-md-11 {
  width: 825px; }

#st_mega_menu_column_block .stmenu_sub.col-md-12, .stmenu_vertical .stmenu_vs.col-md-12 {
  width: 900px; }

.visible-md {
  display: none !important; }

tr.visible-md {
  display: none !important; }

th.visible-md,
td.visible-md {
  display: none !important; }

.visible-lg {
  display: block !important; }

tr.visible-lg {
  display: table-row !important; }

th.visible-lg,
td.visible-lg {
  display: table-cell !important; }

.hidden-md {
  display: block !important; }

tr.hidden-md {
  display: table-row !important; }

th.hidden-md,
td.hidden-md {
  display: table-cell !important; }

.hidden-lg {
  display: none !important; }

tr.hidden-lg {
  display: none !important; }

th.hidden-lg,
td.hidden-lg {
  display: none !important; }

#st_mega_menu_wrap .ma_level_0 {
  padding-left: 16px;
  padding-right: 16px; }

body#index .menu_ver_open_lg .stmenu_vertical, body#index .sticky .menu_ver_open_lg.current .stmenu_vertical {
  display: block!important; }

body#index .sticky .menu_ver_open_lg .stmenu_vertical {
  display: none!important; }

#st_mega_menu_wrap .menu_ver_open_lg .ma_level_0 {
  z-index: 71; }
