.container {
  max-width: 970px; }

#page_wrapper, .wide_container {
  max-width: 992px; }

.col-xs-1,
.col-xs-1-2,
.col-xs-1-5,
.col-xs-2,
.col-xs-2-4,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9,
.col-xs-10,
.col-xs-11 {
  float: left; }

.col-xs-1 {
  width: 8.33333%; }

.col-xs-1-2 {
  width: 10%; }

.col-xs-1-5 {
  width: 12.5%; }

.col-xs-2 {
  width: 16.66667%; }

.col-xs-2-4 {
  width: 20%; }

.col-xs-3 {
  width: 25%; }

.col-xs-4 {
  width: 33.33333%; }

.col-xs-5 {
  width: 41.66667%; }

.col-xs-6 {
  width: 50%; }

.col-xs-7 {
  width: 58.33333%; }

.col-xs-8 {
  width: 66.66667%; }

.col-xs-9 {
  width: 75%; }

.col-xs-10 {
  width: 83.33333%; }

.col-xs-11 {
  width: 91.66667%; }

.col-xs-12 {
  width: 100%; }

.col-sm-1,
.col-sm-1-2,
.col-sm-1-5,
.col-sm-2,
.col-sm-2-4,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-10,
.col-sm-11 {
  float: left; }

.col-sm-1 {
  width: 8.33333%; }

.col-sm-1-2 {
  width: 10%; }

.col-sm-1-5 {
  width: 12.5%; }

.col-sm-2 {
  width: 16.66667%; }

.col-sm-2-4 {
  width: 20%; }

.col-sm-3 {
  width: 25%; }

.col-sm-4 {
  width: 33.33333%; }

.col-sm-5 {
  width: 41.66667%; }

.col-sm-6 {
  width: 50%; }

.col-sm-7 {
  width: 58.33333%; }

.col-sm-8 {
  width: 66.66667%; }

.col-sm-9 {
  width: 75%; }

.col-sm-10 {
  width: 83.33333%; }

.col-sm-11 {
  width: 91.66667%; }

.col-sm-12 {
  width: 100%; }

.col-sm-push-1 {
  left: 8.33333%; }

.col-sm-push-2 {
  left: 16.66667%; }

.col-sm-push-3 {
  left: 25%; }

.col-sm-push-4 {
  left: 33.33333%; }

.col-sm-push-5 {
  left: 41.66667%; }

.col-sm-push-6 {
  left: 50%; }

.col-sm-push-7 {
  left: 58.33333%; }

.col-sm-push-8 {
  left: 66.66667%; }

.col-sm-push-9 {
  left: 75%; }

.col-sm-push-10 {
  left: 83.33333%; }

.col-sm-push-11 {
  left: 91.66667%; }

.col-sm-pull-1 {
  right: 8.33333%; }

.col-sm-pull-2 {
  right: 16.66667%; }

.col-sm-pull-3 {
  right: 25%; }

.col-sm-pull-4 {
  right: 33.33333%; }

.col-sm-pull-5 {
  right: 41.66667%; }

.col-sm-pull-6 {
  right: 50%; }

.col-sm-pull-7 {
  right: 58.33333%; }

.col-sm-pull-8 {
  right: 66.66667%; }

.col-sm-pull-9 {
  right: 75%; }

.col-sm-pull-10 {
  right: 83.33333%; }

.col-sm-pull-11 {
  right: 91.66667%; }

.col-sm-offset-1 {
  margin-left: 8.33333%; }

.col-sm-offset-2 {
  margin-left: 16.66667%; }

.col-sm-offset-3 {
  margin-left: 25%; }

.col-sm-offset-4 {
  margin-left: 33.33333%; }

.col-sm-offset-5 {
  margin-left: 41.66667%; }

.col-sm-offset-6 {
  margin-left: 50%; }

.col-sm-offset-7 {
  margin-left: 58.33333%; }

.col-sm-offset-8 {
  margin-left: 66.66667%; }

.col-sm-offset-9 {
  margin-left: 75%; }

.col-sm-offset-10 {
  margin-left: 83.33333%; }

.col-sm-offset-11 {
  margin-left: 91.66667%; }

.col-md-1,
.col-md-1-2,
.col-md-1-5,
.col-md-2,
.col-md-2-4,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-10,
.col-md-11 {
  float: left; }

.col-md-1 {
  width: 8.33333%; }

.col-md-1-2 {
  width: 10%; }

.col-md-1-5 {
  width: 12.5%; }

.col-md-2 {
  width: 16.66667%; }

.col-md-2-4 {
  width: 20%; }

.col-md-3 {
  width: 25%; }

.col-md-4 {
  width: 33.33333%; }

.col-md-5 {
  width: 41.66667%; }

.col-md-6 {
  width: 50%; }

.col-md-7 {
  width: 58.33333%; }

.col-md-8 {
  width: 66.66667%; }

.col-md-9 {
  width: 75%; }

.col-md-10 {
  width: 83.33333%; }

.col-md-11 {
  width: 91.66667%; }

.col-md-12 {
  width: 100%; }

.col-md-push-0 {
  left: auto; }

.col-md-push-1 {
  left: 8.33333%; }

.col-md-push-2 {
  left: 16.66667%; }

.col-md-push-3 {
  left: 25%; }

.col-md-push-4 {
  left: 33.33333%; }

.col-md-push-5 {
  left: 41.66667%; }

.col-md-push-6 {
  left: 50%; }

.col-md-push-7 {
  left: 58.33333%; }

.col-md-push-8 {
  left: 66.66667%; }

.col-md-push-9 {
  left: 75%; }

.col-md-push-10 {
  left: 83.33333%; }

.col-md-push-11 {
  left: 91.66667%; }

.col-md-pull-0 {
  right: auto; }

.col-md-pull-1 {
  right: 8.33333%; }

.col-md-pull-2 {
  right: 16.66667%; }

.col-md-pull-3 {
  right: 25%; }

.col-md-pull-4 {
  right: 33.33333%; }

.col-md-pull-5 {
  right: 41.66667%; }

.col-md-pull-6 {
  right: 50%; }

.col-md-pull-7 {
  right: 58.33333%; }

.col-md-pull-8 {
  right: 66.66667%; }

.col-md-pull-9 {
  right: 75%; }

.col-md-pull-10 {
  right: 83.33333%; }

.col-md-pull-11 {
  right: 91.66667%; }

.col-md-offset-0 {
  margin-left: 0; }

.col-md-offset-1 {
  margin-left: 8.33333%; }

.col-md-offset-2 {
  margin-left: 16.66667%; }

.col-md-offset-3 {
  margin-left: 25%; }

.col-md-offset-4 {
  margin-left: 33.33333%; }

.col-md-offset-5 {
  margin-left: 41.66667%; }

.col-md-offset-6 {
  margin-left: 50%; }

.col-md-offset-7 {
  margin-left: 58.33333%; }

.col-md-offset-8 {
  margin-left: 66.66667%; }

.col-md-offset-9 {
  margin-left: 75%; }

.col-md-offset-10 {
  margin-left: 83.33333%; }

.col-md-offset-11 {
  margin-left: 91.66667%; }

#st_mega_menu_column_block .stmenu_sub.col-md-1, .stmenu_vertical .stmenu_vs.col-md-1 {
  width: 62px; }

#st_mega_menu_column_block .stmenu_sub.col-md-2, .stmenu_vertical .stmenu_vs.col-md-2 {
  width: 125px; }

#st_mega_menu_column_block .stmenu_sub.col-md-3, .stmenu_vertical .stmenu_vs.col-md-3 {
  width: 187px; }

#st_mega_menu_column_block .stmenu_sub.col-md-4, .stmenu_vertical .stmenu_vs.col-md-4 {
  width: 250px; }

#st_mega_menu_column_block .stmenu_sub.col-md-5, .stmenu_vertical .stmenu_vs.col-md-5 {
  width: 312px; }

#st_mega_menu_column_block .stmenu_sub.col-md-6, .stmenu_vertical .stmenu_vs.col-md-6 {
  width: 375px; }

#st_mega_menu_column_block .stmenu_sub.col-md-7, .stmenu_vertical .stmenu_vs.col-md-7 {
  width: 437px; }

#st_mega_menu_column_block .stmenu_sub.col-md-8, .stmenu_vertical .stmenu_vs.col-md-8 {
  width: 500px; }

#st_mega_menu_column_block .stmenu_sub.col-md-9, .stmenu_vertical .stmenu_vs.col-md-9 {
  width: 562px; }

#st_mega_menu_column_block .stmenu_sub.col-md-10, .stmenu_vertical .stmenu_vs.col-md-10 {
  width: 625px; }

#st_mega_menu_column_block .stmenu_sub.col-md-11, .stmenu_vertical .stmenu_vs.col-md-11 {
  width: 687px; }

#st_mega_menu_column_block .stmenu_sub.col-md-12, .stmenu_vertical .stmenu_vs.col-md-12 {
  width: 750px; }

.visible-xs {
  display: none !important; }

tr.visible-xs {
  display: none !important; }

th.visible-xs,
td.visible-xs {
  display: none !important; }

.visible-sm {
  display: none !important; }

tr.visible-sm {
  display: none !important; }

th.visible-sm,
td.visible-sm {
  display: none !important; }

.visible-md {
  display: block !important; }

tr.visible-md {
  display: table-row !important; }

th.visible-md,
td.visible-md {
  display: table-cell !important; }

.visible-lg {
  display: block !important; }

tr.visible-lg {
  display: table-row !important; }

th.visible-lg,
td.visible-lg {
  display: table-cell !important; }

.hidden-xs {
  display: block !important; }

tr.hidden-xs {
  display: table-row !important; }

th.hidden-xs,
td.hidden-xs {
  display: table-cell !important; }

.hidden-sm {
  display: block !important; }

tr.hidden-sm {
  display: table-row !important; }

th.hidden-sm,
td.hidden-sm {
  display: table-cell !important; }

.hidden-md {
  display: none !important; }

tr.hidden-md {
  display: none !important; }

th.hidden-md,
td.hidden-md {
  display: none !important; }

.hidden-lg {
  display: none !important; }

tr.hidden-lg {
  display: none !important; }

th.hidden-lg,
td.hidden-lg {
  display: none !important; }

#footer #newsletter_block_left .newsletter-input {
  width: 150px !important; }

ul.product_list.grid > li.first-in-line {
  clear: both; }
ul.product_list.grid > li.first-line {
  border-top: none; }

.subcate_grid_view > li.first-item-of-line, .com_grid_view > li.first-item-of-line, .pro_itemlist > li.first-item-of-line, .blog_row_list > li.first-item-of-line, .blog_list_grid > li.first-item-of-line {
  clear: both; }

body#index .menu_ver_open_md .stmenu_vertical, body#index .sticky .menu_ver_open_md.current .stmenu_vertical {
  display: block!important; }

body#index .sticky .menu_ver_open_md .stmenu_vertical {
  display: none!important; }

#st_mega_menu_wrap .menu_ver_open_md .ma_level_0 {
  z-index: 71; }
