/* Font Awesome uses the Unicode Private Use Area (PUA) to ensure screen
 * readers do not read off random characters that represent icons */

.icon-envelope-alt:before { content: '\e834'; } 
.icon-phone{ content: '\37'; }
.icon-map-marker:before { content: '\e845'; } 
.icon-refresh:before { content: '\e832'; } 

.icon-paypal:before { content: '\24'; }
.icon-gplus:before { content: '\2b'; }
.icon-pinterest:before { content: '\31'; }
.icon-call:before { content: '\37'; }
.icon-digg:before { content: '\3b'; }
.icon-evernote:before { content: '\45'; }
.icon-flickr:before { content: '\46'; }
.icon-google:before { content: '\47'; }
.icon-rss:before { content: '\52'; }
.icon-skype:before { content: '\53'; }
.icon-twitter:before { content: '\54'; }
.icon-youtube:before { content: '\55'; }
.icon-vimeo:before { content: '\56'; }
.icon-amazon:before { content: '\61'; }
.icon-ebay:before { content: '\65'; }
.icon-facebook:before { content: '\66'; }
.icon-wordpress:before { content: '\77'; }
.icon-drupal:before { content: '\e4'; }
.icon-left:before { content: '\2190'; }
.icon-up:before { content: '\2191'; }
.icon-right:before { content: '\2192'; }
.icon-home:before { content: '\2302'; }
.icon-check:before { content: '\2611'; }
.icon-heart:before { content: '\2665'; }
.icon-cog:before { content: '\2699'; }
.icon-edit:before { content: '\270d'; }
.icon-ok-circle:before { content: '\2714'; }
.icon-th-large:before { content: '\e023'; }
.icon-th:before { content: '\e024'; }
.icon-qrcode:before { content: '\e057'; }
.icon-down-open-2:before { content: '\e0a4'; }
.icon-up-open-2:before { content: '\e0cb'; }
.icon-right-open-3:before { content: '\e0cc'; }
.icon-left-open-3:before { content: '\e0cd'; }
.icon-help-circled:before { content: '\e704'; }
.icon-info-circled:before { content: '\e705'; }
.icon-eye:before { content: '\e70a'; }
.icon-reply:before { content: '\e712'; }
.icon-export:before { content: '\e715'; }
.icon-print:before { content: '\e716'; }
.icon-vcard:before { content: '\e722'; }
.icon-trash:before { content: '\e729'; }
.icon-basket:before { content: '\e73d'; }
.icon-star-1:before { content: '\e800'; }
.icon-left-open-1:before { content: '\e801'; }
.icon-down-open-1:before { content: '\e802'; }
.icon-right-open-1:before { content: '\e803'; }
.icon-up-open-1:before { content: '\e804'; }
.icon-heart-2:before { content: '\e805'; }
.icon-cancel-1:before { content: '\e806'; }
.icon-ok:before { content: '\e807'; }
.icon-exchange-1:before { content: '\e808'; }
.icon-heart-1:before { content: '\e809'; }
.icon-home-1:before { content: '\e80a'; }
.icon-search-1:before { content: '\e80b'; }
.icon-right-open-2:before { content: '\e80c'; }
.icon-left-open-2:before { content: '\e80d'; }
.icon-cancel-2:before { content: '\e80e'; }
.icon-ok-1:before { content: '\e80f'; }
.icon-thumbs-up-1:before { content: '\e810'; }
.icon-thumbs-down-1:before { content: '\e811'; }
.icon-rss-1:before { content: '\e812'; }
.icon-plus-2:before { content: '\e813'; }
.icon-right-dir-2:before { content: '\e814'; }
.icon-left-dir-1:before { content: '\e815'; }
.icon-up-dir:before { content: '\e816'; }
.icon-down-dir-2:before { content: '\e817'; }
.icon-eye-2:before { content: '\e818'; }
.icon-tools:before { content: '\e819'; }
.icon-chat-1:before { content: '\e81a'; }
.icon-plus-1:before { content: '\e81b'; }
.icon-adjust:before { content: '\e81c'; }
.icon-minus-1:before { content: '\e81d'; }
.icon-ajust:before { content: '\e81e'; }
.icon-user-1:before { content: '\e81f'; }
.icon-link:before { content: '\e820'; }
.icon-clock:before { content: '\e821'; }
.icon-angle-double-right:before { content: '\e822'; }
.icon-angle-double-left:before { content: '\e823'; }
.icon-camera-2:before { content: '\e824'; }
.icon-flight:before { content: '\e825'; }
.icon-credit-card:before { content: '\e826'; }
.icon-note-beamed:before { content: '\e827'; }
.icon-truck:before { content: '\e828'; }
.icon-trophy:before { content: '\e829'; }
.icon-doc-text-inv:before { content: '\e82a'; }
.icon-video-chat:before { content: '\e82b'; }
.icon-video:before { content: '\e82c'; }
.icon-picture-1:before { content: '\e82d'; }
.icon-picture-2:before { content: '\e82e'; }
.icon-videocam-1:before { content: '\e82f'; }
.icon-video-1:before { content: '\e830'; }
.icon-mail:before { content: '\e831'; }
.icon-spin3:before { content: '\e832'; }
.icon-phone-squared:before { content: '\e833'; }
.icon-mail-alt:before { content: '\e834'; }
.icon-mail-1:before { content: '\e835'; }
.icon-tag:before { content: '\e836'; }
.icon-tag-1:before { content: '\e837'; }
.icon-spin5:before { content: '\e838'; }
.icon-tag-2:before { content: '\e839'; }
.icon-users:before { content: '\e83a'; }
.icon-instagram:before { content: '\e83b'; }
.icon-bag:before { content: '\e83c'; }
.icon-linkedin:before { content: '\e83d'; }
.icon-tumblr:before { content: '\e83e'; }
.icon-blogger:before { content: '\e83f'; }
.icon-mobile:before { content: '\e840'; }
.icon-vk:before { content: '\e841'; }
.icon-cancel-circled:before { content: '\e842'; }
.icon-monitor:before { content: '\e843'; }
.icon-lock-open:before { content: '\e844'; }
.icon-location:before { content: '\e845'; }
.icon-basket-1:before { content: '\e846'; }
.icon-phone:before { content: '\e847'; }
.icon-plus:before { content: '\e848'; }
.icon-cancel:before { content: '\e849'; }
.icon-minus-2:before { content: '\e84a'; }
.icon-plus-squared:before { content: '\e84b'; }
.icon-sort:before { content: '\e84c'; }
.icon-mail-2:before { content: '\e84d'; }
.icon-pencil:before { content: '\e84e'; }
.icon-lock:before { content: '\e84f'; }
.icon-user:before { content: '\e850'; }
.icon-star-empty-1:before { content: '\e851'; }
.icon-sort-down:before { content: '\e852'; }
.icon-sort-up:before { content: '\e853'; }
.icon-minus-squared:before { content: '\e854'; }
.icon-th-list:before { content: '\e855'; }
.icon-minus:before { content: '\e856'; }
.icon-crown:before { content: '\e857'; }
.icon-globe-alt:before { content: '\e858'; }
.icon-rocket:before { content: '\e859'; }
.icon-tint:before { content: '\e85a'; }
.icon-leaf:before { content: '\e85b'; }
.icon-umbrella:before { content: '\e85c'; }
.icon-fast-food:before { content: '\e85d'; }
.icon-fire:before { content: '\e85e'; }
.icon-flag:before { content: '\e85f'; }
.icon-flag-1:before { content: '\e860'; }
.icon-menu:before { content: '\e861'; }
.icon-plus-circled:before { content: '\e862'; }
.icon-plus-circled-1:before { content: '\e863'; }
.icon-at:before { content: '\e864'; }
.icon-quote-left:before { content: '\e865'; }
.icon-location-2:before { content: '\e866'; }
.icon-quote-right:before { content: '\e867'; }
.icon-glyph:before { content: '\e868'; }
.icon-heart-empty:before { content: '\e869'; }
.icon-magic:before { content: '\e86a'; }
.icon-umbrella-1:before { content: '\e86b'; }
.icon-hourglass:before { content: '\e86c'; }
.icon-flow-tree:before { content: '\e86d'; }
.icon-rocket-1:before { content: '\e86e'; }
.icon-feather:before { content: '\e86f'; }
.icon-signal:before { content: '\e870'; }
.icon-github-circled-alt2:before { content: '\e871'; }
.icon-heart-3:before { content: '\e872'; }
.icon-beaker:before { content: '\e873'; }
.icon-diamond:before { content: '\e874'; }
.icon-params:before { content: '\e875'; }
.icon-truck-1:before { content: '\e876'; }
.icon-globe:before { content: '\e877'; }
.icon-cog-1:before { content: '\e878'; }
.icon-home-outline:before { content: '\e879'; }
.icon-history:before { content: '\e87a'; }
.icon-gift:before { content: '\e87b'; }
.icon-anchor-outline:before { content: '\e87c'; }
.icon-shop:before { content: '\e87d'; }
.icon-t-shirt:before { content: '\e87e'; }
.icon-star:before { content: '\e87f'; }
.icon-heart-empty-1:before { content: '\e880'; }
.icon-credit-card-1:before { content: '\e881'; }
.icon-resize-full:before { content: '\e882'; }
.icon-star-2:before { content: '\e883'; }
.icon-popup:before { content: '\e884'; }
.icon-popup-1:before { content: '\e885'; }
.icon-columns:before { content: '\e886'; }
.icon-smile:before { content: '\e887'; }
.icon-chart-pie:before { content: '\e888'; }
.icon-gift-1:before { content: '\e889'; }
.icon-play-circled:before { content: '\e88a'; }
.icon-pause-circled:before { content: '\e88b'; }
.icon-play:before { content: '\e88c'; }
.icon-pause:before { content: '\e88d'; }
.icon-user-2:before { content: '\e88e'; }
.icon-user-3:before { content: '\e88f'; }
.icon-logout:before { content: '\e890'; }
.icon-logout-1:before { content: '\e891'; }
.icon-whatsapp:before { content: '\e892'; }
.icon-comment-empty:before { content: '\e893'; }
.icon-comment:before { content: '\e894'; }
.icon-link-ext:before { content: '\e895'; }
.icon-play-1:before { content: '\e896'; }
.icon-play-circled2:before { content: '\e897'; }
.icon-play-circled-1:before { content: '\e898'; }
.icon-language:before { content: '\e899'; }
.icon-reddit:before { content: '\e89a'; }
.icon-yelp:before { content: '\e89b'; }
.icon-heart-broken:before { content: '\f028'; }
.icon-check-empty:before { content: '\f096'; }
.icon-angle-left:before { content: '\f104'; }
.icon-angle-right:before { content: '\f105'; }
.icon-angle-up:before { content: '\f106'; }
.icon-angle-down:before { content: '\f107'; }
.icon-transgender:before { content: '\f224'; }
.icon-transgender-alt:before { content: '\f225'; }
.icon-medium:before { content: '\f23a'; }
.icon-snapchat-ghost:before { content: '\f2ac'; }
.icon-telegram:before { content: '\f2c6'; }