/* FONT PATH
 * -------------------------- */

@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?94625965');
  src: url('../font/fontello.eot?94625965#iefix') format('embedded-opentype'),
       url('../font/fontello.woff2?94625965') format('woff2'),
       url('../font/fontello.woff?94625965') format('woff'),
       url('../font/fontello.ttf?94625965') format('truetype'),
       url('../font/fontello.svg?94625965#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
