#header_top_left #search_block_top {
  width: 100%;
  margin: 0 auto; }
  #header_top_left #search_block_top #searchbox {
    width: 100%; }

#search_block_top {
  width: 260px;
  display: inline-block;
  text-align: left; }

#search_block_side {
  padding: 1em; }

#search_block_menu {
  padding: 1em 2em; }

#search_block_top.quick_search_simple {
  width: auto;
  position: relative;
  z-index: 72; }
  #search_block_top.quick_search_simple .button-search {
    position: relative;
    float: right; }
  #search_block_top.quick_search_simple #searchbox #search_query_top {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    width: 260px; }
  #search_block_top.quick_search_simple #searchbox:hover #search_query_top, #search_block_top.quick_search_simple #searchbox .active #search_query_top {
    display: inline-block; }
  #search_block_top.quick_search_simple #searchbox:hover .button-search, #search_block_top.quick_search_simple #searchbox .active .button-search {
    color: #777777 !important; }

#search_block_top .button-search, #search_block_mobile_bar .button-search, #search_block_side .button-search, #search_block_menu .button-search {
  background: transparent;
  display: block;
  position: absolute;
  top: 1px;
  right: 1px;
  border: none;
  width: 32px;
  height: 32px;
  line-height: 100%;
  text-align: center;
  color: #777777; }
  #search_block_top .button-search:hover, #search_block_mobile_bar .button-search:hover, #search_block_side .button-search:hover, #search_block_menu .button-search:hover {
    color: #777777; }
#search_block_top #search_query_top, #search_block_mobile_bar #search_query_top, #search_block_side #search_query_top, #search_block_menu #search_query_top {
  display: inline;
  padding: 0 8px;
  height: 34px;
  line-height: normal; }

#search_block_top #search_query_top, #search_query_mobile_bar, #search_query_side, #search_query_menu {
  display: inline;
  padding: 0 8px;
  height: 34px;
  line-height: normal; }

.ac_results {
  background: none repeat scroll 0 0 #FFFFFF;
  border: 1px solid #dadada;
  overflow: hidden;
  padding: 0;
  z-index: 99; }
  .ac_results li {
    overflow: hidden;
    *zoom: 1;
    border-bottom: 1px solid #f2f2f2;
    cursor: pointer;
    padding: 4px 5px; }
    .ac_results li.ac_odd, .ac_results li.ac_even {
      background: white; }
    .ac_results li:hover, .ac_results li.ac_over {
      color: #777777;
      background: #fcfcfc; }
    .ac_results li:last-child {
      border: 0; }
    .ac_results li img {
      display: inline-block;
      border: 1px solid #f2f2f2;
      width: 45px;
      float: left;
      margin-right: 8px; }

.ac_product_name {
  display: inline;
  vertical-align: middle; }

#ac_search_more {
  padding: 5px 0;
  text-align: center; }

form#searchbox {
  position: relative; }
  form#searchbox label {
    color: #777777; }
  form#searchbox input#search_query_block {
    margin-right: 10px;
    max-width: 160px;
    margin-bottom: 10px;
    display: inline-block;
    float: left; }
  form#searchbox .button.button-small {
    float: left; }
    form#searchbox .button.button-small i {
      margin-right: 0; }

form#searchbox_mobile_bar, form#searchbox_side, form#searchbox_menu {
  position: relative; }

#search_block_main_menu {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%; }
  #search_block_main_menu.sticky {
    position: fixed;
    z-index: 211; }
  #search_block_main_menu .container {
    position: relative;
    z-index: 75; }
  #search_block_main_menu #search_block_top {
    position: absolute;
    right: 16px;
    top: 1px; }

#search_block_nav .header_item {
  padding-right: 8px;
  padding-left: 8px; }
